.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.combobox__option-item {
  display: flex;

  &.combobox__option-item--highlighted {
    &:not(.combobox__option-item--selected) {
      background-color: #0071bc;
    }

    &.combobox__option-item--selected {
      background-color: darken(#0071bc, 2);
    }
  }

  &.combobox__option-item--selected {
    background-color: #bce4ff;
  }
}

.btn {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*
 * React Chip Component
 *
 * Base styles derived from Button component
 */

.chip {
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  background-color: darken(#0071bc, 2);

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .btn__content-wrapper {
    color: #e7e7e7;
  }

  &.chip__clear-all {
    color: darken(#0071bc, 2) !important;
  }

  .chip__key {
    margin-right: 0.25rem;
  }

  .chip__value {
    font-weight: bold;
  }

  // Icon spacing
  .chip__value + span,
  &.chip__clear-all span + label {
    margin-left: 0.75rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
